@mixin Media {
    @media (max-width: 800px) {
        height: 500px;
    }
}

.SlideContainerItem{
    background-color: rgba(128, 128, 128, 0.658);
    border: 1px solid black;
    margin-left: 10px;
    padding: 5px;
    height: 600px;
    transform: scale(.9);
    opacity: .8;
}

.SlideContainerItem.ativo{
    transform: scale(1.1);
    opacity: initial;
}